.container {

  display: flex;
  justify-content: center;
  align-items: center;
}

.mapPane {
  flex: 1;
}
.dnd-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: auto;
  background-color: gray;
  height: 100vh;
}